In [376]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline, Pipeline,FeatureUnion
from sklearn.linear_model import Lasso, LinearRegression, Ridge
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.compose import ColumnTransformer
import warnings
warnings.filterwarnings('ignore')

In [456]:
import requests

url = "https://realtor.p.rapidapi.com/properties/v2/list-sold"

querystring = {"radius":"20","sort":"sold_date","city":"Vancouver","offset":"0","state_code":"WA","limit":"500"}

headers = {
    'x-rapidapi-host': "realtor.p.rapidapi.com",
    'x-rapidapi-key': "203979cc92msh319184830b135b3p13c42ejsnfa422652b4a0"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

#print(response.text)

In [224]:
import json
from pandas.io.json import json_normalize
import pandas as pd

response_data = json.loads(response.text)
df = json_normalize(response_data['properties'])

#df1 = json_normalize([df["properties"][i][0] for i in range(0, df.shape[0])])

#final_df = pd.concat([df, df1], axis=1)

#final_df.drop("properties", axis=1, inplace=True)

In [225]:
df

,property_id,listing_id,prop_type,list_date,last_update,year_built,beds,baths_full,baths_half,prop_status,...,office.photo,office.id,office.phones,building_size.size,building_size.units,garage,lot_size.size,lot_size.units,office.photo.href,price_reduced_date
0,O9583819434,2920084365,condo,2020-08-15T17:18:21Z,2020-12-08T14:29:55Z,2020.0,1.0,1.0,NaN,not_for_sale,...,NaN,5731db4d2626289edf9a41788a5b0e8d,"[{'number': '503-459-3987', 'type': 'office', ...",651.0,sqft,NaN,NaN,NaN,NaN,NaN
1,O1785124782,2923095483,single_family,2020-11-04T14:57:46Z,2020-12-08T14:15:23Z,2008.0,4.0,2.0,1.0,not_for_sale,...,NaN,003eeebb5598702cc8469d4b633b5d83,"[{'number': '360-558-3945', 'type': 'office', ...",1558.0,sqft,2,2614.0,sqft,NaN,NaN
2,O2375758697,2921938790,single_family,2020-10-01T10:11:54Z,2020-12-08T09:26:03Z,1995.0,3.0,2.0,NaN,not_for_sale,...,NaN,7d703a64b04ad9569deffdc9148f526a,"[{'number': None, 'type': '', 'primary': True}]",1201.0,sqft,2,6970.0,sqft,NaN,NaN
3,O1158614342,2922770457,single_family,2020-10-24T03:03:37Z,2020-12-08T12:36:09Z,1973.0,3.0,1.0,NaN,not_for_sale,...,NaN,8f695065df0875243f6dd8b7ad99ca2c,"[{'number': '360-882-6000', 'type': 'office', ...",1041.0,sqft,1,5227.0,sqft,NaN,NaN
4,O2426375659,2922956388,condo,2020-10-30T15:11:53Z,2020-12-08T14:25:44Z,2013.0,4.0,3.0,NaN,not_for_sale,...,NaN,5d414bebcd34f799b699916edb7f2697,"[{'number': '503-284-9443', 'type': 'home', 'p...",2018.0,sqft,1,2614.0,sqft,https://ap.rdcpix.com/626551046/12098233513df6...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,O1921684407,2922891751,single_family,2020-10-28T20:05:39Z,2020-12-01T10:27:08Z,1923.0,3.0,2.0,NaN,not_for_sale,...,NaN,623c1b392a9c46516c5fc7a7a3c6dd09,"[{'number': '541-316-8646', 'type': 'office', ...",1912.0,sqft,1,4792.0,sqft,NaN,NaN
196,O1023307147,2922882627,single_family,2020-10-28T16:46:09Z,2020-12-04T15:27:00Z,2007.0,3.0,2.0,1.0,not_for_sale,...,NaN,dc036c7a73287f2f24fe72082f6dfa94,"[{'number': '503-624-9660', 'type': 'office', ...",1380.0,sqft,1,2614.0,sqft,https://ap.rdcpix.com/1775647882/de72f2cc6d8b3...,NaN
197,O1934092040,2922545674,single_family,2020-10-17T18:22:08Z,2020-12-01T15:20:11Z,1914.0,3.0,2.0,NaN,not_for_sale,...,NaN,7f57b1432c450de8461da437c8b70351,"[{'number': '503-546-9955', 'type': 'office', ...",1738.0,sqft,2,4792.0,sqft,NaN,NaN
198,O2353367307,2920669014,condo,2020-08-30T18:48:07Z,2020-12-02T10:03:16Z,2004.0,3.0,2.0,1.0,not_for_sale,...,NaN,00715a1552608371b148901b8467b10d,"[{'number': '503-652-2260', 'type': 'home', 'p...",1236.0,sqft,1,2178.0,sqft,NaN,NaN
199,O1259816597,2922703151,single_family,2020-10-22T19:18:50Z,2020-12-01T13:37:26Z,1955.0,3.0,2.0,NaN,not_for_sale,...,NaN,623c1b392a9c46516c5fc7a7a3c6dd09,"[{'number': '541-316-8646', 'type': 'office', ...",1080.0,sqft,NaN,7405.0,sqft,NaN,NaN

In [227]:
buildings = df[['prop_type','year_built','beds','baths_full','garage','baths_half','price','baths','address.city','address.state','address.postal_code','address.county','lot_size.size','building_size.size']]

In [228]:
buildings

,prop_type,year_built,beds,baths_full,garage,baths_half,price,baths,address.city,address.state,address.postal_code,address.county,lot_size.size,building_size.size
0,condo,2020.0,1.0,1.0,NaN,NaN,254900,1,Portland,Oregon,97217,Multnomah,NaN,651.0
1,single_family,2008.0,4.0,2.0,2,1.0,330000,3,Vancouver,Washington,98661,Clark,2614.0,1558.0
2,single_family,1995.0,3.0,2.0,2,NaN,350000,2,Vancouver,Washington,98682,Clark,6970.0,1201.0
3,single_family,1973.0,3.0,1.0,1,NaN,320000,1,Washougal,Washington,98671,Clark,5227.0,1041.0
4,condo,2013.0,4.0,3.0,1,NaN,535000,3,Portland,Oregon,97211,Multnomah,2614.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,single_family,1923.0,3.0,2.0,1,NaN,640000,2,Portland,Oregon,97211,Multnomah,4792.0,1912.0
196,single_family,2007.0,3.0,2.0,1,1.0,430000,3,Portland,Oregon,97203,Multnomah,2614.0,1380.0
197,single_family,1914.0,3.0,2.0,2,NaN,470000,2,Portland,Oregon,97203,Multnomah,4792.0,1738.0
198,condo,2004.0,3.0,2.0,1,1.0,274000,3,Portland,Oregon,97233,Multnomah,2178.0,1236.0
199,single_family,1955.0,3.0,2.0,NaN,NaN,363000,2,Portland,Oregon,97230,Multnomah,7405.0,1080.0

In [229]:
buildings.isna().sum()

prop_type                0
year_built               1
beds                     2
baths_full               2
garage                  24
baths_half             109
price                    0
baths                    0
address.city             0
address.state            0
address.postal_code      0
address.county           0
lot_size.size           19
building_size.size       1
dtype: int64

In [230]:
means = buildings.describe()
means.loc['mean']

year_built              1981.040201
beds                       3.252525
baths_full                 1.989899
baths_half                 1.054945
price                 470730.355000
baths                      2.450000
lot_size.size          15335.491713
building_size.size      2019.758794
Name: mean, dtype: float64

In [231]:
X = buildings.loc[:, buildings.columns != 'price']
y = buildings['price']
X = buildings.drop(['price'], axis = 1)

In [232]:
X['year_built'].fillna(means.loc['mean'][0],inplace=True)
X['beds'].fillna(means.loc['mean'][1],inplace=True)
X['baths_full'].fillna(means.loc['mean'][2],inplace=True)
X['garage'].fillna(0,inplace=True)
X['baths_half'].fillna(means.loc['mean'][1],inplace=True)
X['lot_size.size'].fillna(means.loc['mean'][6],inplace=True)
X['building_size.size'].fillna(means.loc['mean'][7],inplace=True)

In [233]:
X.isna().sum()

prop_type              0
year_built             0
beds                   0
baths_full             0
garage                 0
baths_half             0
baths                  0
address.city           0
address.state          0
address.postal_code    0
address.county         0
lot_size.size          0
building_size.size     0
dtype: int64

## Sepearte Numeric and Catigorical Variables

In [323]:
X_num = X[X.select_dtypes(exclude='object').columns]
X_cat = X[X.select_dtypes('object').columns]

In [324]:
X_cat

,prop_type,garage,address.city,address.state,address.postal_code,address.county
0,condo,0,Portland,Oregon,97217,Multnomah
1,single_family,2,Vancouver,Washington,98661,Clark
2,single_family,2,Vancouver,Washington,98682,Clark
3,single_family,1,Washougal,Washington,98671,Clark
4,condo,1,Portland,Oregon,97211,Multnomah
...,...,...,...,...,...,...
195,single_family,1,Portland,Oregon,97211,Multnomah
196,single_family,1,Portland,Oregon,97203,Multnomah
197,single_family,2,Portland,Oregon,97203,Multnomah
198,condo,1,Portland,Oregon,97233,Multnomah
199,single_family,0,Portland,Oregon,97230,Multnomah

## Replace Catigorical Variables With Dummy Variables

In [325]:
X_cat = pd.get_dummies(X_cat)

In [326]:
X_clean = X_num.join(X_cat)

In [327]:
X_clean

,year_built,beds,baths_full,baths_half,baths,lot_size.size,building_size.size,prop_type_condo,prop_type_farm,prop_type_land,...,address.postal_code_98665,address.postal_code_98671,address.postal_code_98682,address.postal_code_98683,address.postal_code_98684,address.postal_code_98685,address.postal_code_98686,address.county_Clark,address.county_Columbia,address.county_Multnomah
0,2020.0,1.0,1.0,3.252525,1,15335.491713,651.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2008.0,4.0,2.0,1.000000,3,2614.000000,1558.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1995.0,3.0,2.0,3.252525,2,6970.000000,1201.0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,1973.0,3.0,1.0,3.252525,1,5227.000000,1041.0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,2013.0,4.0,3.0,3.252525,3,2614.000000,2018.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1923.0,3.0,2.0,3.252525,2,4792.000000,1912.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
196,2007.0,3.0,2.0,1.000000,3,2614.000000,1380.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
197,1914.0,3.0,2.0,3.252525,2,4792.000000,1738.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
198,2004.0,3.0,2.0,1.000000,3,2178.000000,1236.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
199,1955.0,3.0,2.0,3.252525,2,7405.000000,1080.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Machine Learning Models

In [328]:
X_train, X_test, y_train, y_test = train_test_split(X_clean,y, test_size=.2, random_state=42)

In [329]:
y_train

79      417135
197     470000
38      539900
24      865000
122     345000
        ...
106     525000
14      552000
92     2325000
179     366000
102     795000
Name: price, Length: 160, dtype: int64

### Lasso Regression

In [330]:
lasso = Lasso(alpha=152)

In [331]:
lasso.fit(X_train, y_train)

Lasso(alpha=152, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [332]:
lhat_train = lasso.predict(X_train)
mse_lasso_train = mean_squared_error(y_train, lhat_train)
print(mse_lasso_train)

5678272064.038322

In [335]:
r2_score(y_train,lhat_train)

0.8895660424220679

In [336]:
lhat_test = lasso.predict(X_test)
mse_lasso_test = mean_squared_error(y_test, lhat_test)
print(mse_lasso_test)

4036891793.971036

In [337]:
r2_score(y_test,lhat_test)

0.7762438085390594

### Linear Regression

In [338]:
lm = LinearRegression(fit_intercept=True, normalize=False)
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [341]:
yhat_train = lm.predict(X_train)
mse_lm_train = mean_squared_error(y_train, yhat_train)
print(mse_lm_train)

5600321159.9145355

In [342]:
r2_score(y_train,yhat_train)

0.8910820717250114

In [340]:
yhat_test = lm.predict(X_test)
mse_lm_test = mean_squared_error(y_test, yhat_test)
print(mse_lm_test)

4791021560.331575

In [343]:
r2_score(y_test,yhat_test)

0.7344440246954169

### K Nearest Neighbors Regression

In [345]:
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [346]:
yhat_knn_train = knn.predict(X_train)
mse_knn_train = mean_squared_error(y_train, yhat_knn_train)
print(mse_knn_train)

31990717279.330566

In [349]:
r2_score(y_train,yhat_knn_train)

0.37782806546245684

In [347]:
yhat_knn_test = knn.predict(X_test)
mse_knn_test = mean_squared_error(y_test, yhat_knn_test)
print(mse_knn_test)

9173943875.64425

In [348]:
r2_score(y_test,yhat_knn_test)

0.49150810894751795

### Decision Tree Regression

In [350]:
regressor = DecisionTreeRegressor(min_samples_leaf=3)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=3,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [356]:
rhat_train = regressor.predict(X_train)
mse_regressor_train = mean_squared_error(y_train,rhat_train)
print(mse_regressor_train)

11452806944.283335

In [358]:
r2_score(y_train,rhat_train)

0.7772599160502824

In [359]:
rhat_test = regressor.predict(X_test)
mse_regressor_test = mean_squared_error(y_test,rhat_test)
print(mse_regressor_test)

13816323024.66889

In [360]:
r2_score(y_test,rhat_test)

0.23419106139752144

## Add Polynomial Features

In [361]:
from sklearn.preprocessing import PolynomialFeatures

In [362]:
poly = PolynomialFeatures(2)

In [363]:
X_poly = poly.fit_transform(X_clean)

In [364]:
X_train, X_test, y_train, y_test = train_test_split(X_poly,y, test_size=.2, random_state=42)

### Linear Regression

In [391]:
lm = LinearRegression(fit_intercept=True, normalize=False)
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [392]:
yhat_train = lm.predict(X_train)
mse_lm_train = mean_squared_error(y_train, yhat_train)
print(mse_lm_train)

81.14440552575785

In [393]:
r2_score(y_train,yhat_train)

0.9999999984218618

In [394]:
yhat_test = lm.predict(X_test)
mse_lm_test = mean_squared_error(y_test, yhat_test)
print(mse_lm_test)

1785485700055740.2

In [395]:
r2_score(y_test,yhat_test)

-98964.61526595881

### Lasso Regression

In [396]:
lasso = Lasso(alpha=152)

In [397]:
lasso.fit(X_train, y_train)

Lasso(alpha=152, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [398]:
lhat_train = lasso.predict(X_train)
mse_lasso_train = mean_squared_error(y_train, lhat_train)
print(mse_lasso_train)

398994343.39644694

In [399]:
r2_score(y_train,lhat_train)

0.9922401526563802

In [400]:
lhat_test = lasso.predict(X_test)
mse_lasso_test = mean_squared_error(y_test, lhat_test)
print(mse_lasso_test)

25413352816.033394

In [401]:
r2_score(y_test,lhat_test)

-0.4086072475019631

### K Nearest Neighbors Regression

In [386]:
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [387]:
yhat_knn_train = knn.predict(X_train)
mse_knn_train = mean_squared_error(y_train, yhat_knn_train)
print(mse_knn_train)

33291732617.879875

In [388]:
r2_score(y_train,yhat_knn_train)

0.35252524955556763

In [389]:
yhat_knn_test = knn.predict(X_test)
mse_knn_test = mean_squared_error(y_test, yhat_knn_test)
print(mse_knn_test)

11461401085.582249

In [390]:
r2_score(y_test,yhat_knn_test)

0.36471929727067265

### Decision Tree Regression

In [402]:
regressor = DecisionTreeRegressor(min_samples_leaf=3)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=3,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [403]:
rhat_train = regressor.predict(X_train)
mse_regressor_train = mean_squared_error(y_train,rhat_train)
print(mse_regressor_train)

10110095308.092709

In [404]:
r2_score(y_train,rhat_train)

0.803373663013829

In [405]:
rhat_test = regressor.predict(X_test)
mse_regressor_test = mean_squared_error(y_test,rhat_test)
print(mse_regressor_test)

10498149273.08941

In [406]:
r2_score(y_test,rhat_test)

0.41811026437638954

## Standard Scaler

In [411]:
from sklearn.preprocessing import StandardScaler

In [412]:
scaler = StandardScaler()

In [437]:
X_scaler = scaler.fit_transform(X_clean)

In [438]:
X_train, X_test, y_train, y_test = train_test_split(X_scaler,y, test_size=.2, random_state=42)

### Linear Regression

In [439]:
lm = LinearRegression(fit_intercept=True, normalize=False)
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [440]:
yhat_train = lm.predict(X_train)
mse_lm_train = mean_squared_error(y_train, yhat_train)
print(mse_lm_train)

5728882144.65625

In [441]:
r2_score(y_train,yhat_train)

0.8885817515263617

In [442]:
yhat_test = lm.predict(X_test)
mse_lm_test = mean_squared_error(y_test, yhat_test)
print(mse_lm_test)

1.7362469560887756e+38

In [443]:
r2_score(y_test,yhat_test)

-9.623641805566386e+27

### Lasso Regression

In [444]:
lasso = Lasso(alpha=152)

In [445]:
lasso.fit(X_train, y_train)

Lasso(alpha=152, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [446]:
lhat_train = lasso.predict(X_train)
mse_lasso_train = mean_squared_error(y_train, lhat_train)
print(mse_lasso_train)

5605558479.719356

In [447]:
r2_score(y_train,lhat_train)

0.8909802136339188

In [448]:
lhat_test = lasso.predict(X_test)
mse_lasso_test = mean_squared_error(y_test, lhat_test)
print(mse_lasso_test)

4426826515.345859

In [449]:
r2_score(y_test,lhat_test)

0.754630569288129

### K Nearest Neighbors Regression

In [450]:
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [451]:
yhat_knn_train = knn.predict(X_train)
mse_knn_train = mean_squared_error(y_train, yhat_knn_train)
print(mse_knn_train)

31371522027.783813

In [428]:
r2_score(y_train,yhat_knn_train)

0.38987049340014535

In [429]:
yhat_knn_test = knn.predict(X_test)
mse_knn_test = mean_squared_error(y_test, yhat_knn_test)
print(mse_knn_test)

10571846691.244501

In [430]:
r2_score(y_test,yhat_knn_test)

0.4140253756925969

### Decision Tree Regression

In [431]:
regressor = DecisionTreeRegressor(min_samples_leaf=3)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=3,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [432]:
rhat_train = regressor.predict(X_train)
mse_regressor_train = mean_squared_error(y_train,rhat_train)
print(mse_regressor_train)

11452806944.283335

In [433]:
r2_score(y_train,rhat_train)

0.7772599160502824

In [434]:
rhat_test = regressor.predict(X_test)
mse_regressor_test = mean_squared_error(y_test,rhat_test)
print(mse_regressor_test)

13771299413.55778

In [435]:
r2_score(y_test,rhat_test)

0.23668662289933984